.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body{
  background-color: aliceblue;
}
.navbar a{
  color: azure;
  padding: 3px;
  margin: 1rem;
  text-decoration: none;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;
  color: white;
  padding: 1rem;
}

.about{
  background-color: aliceblue;
  padding: 3rem;
}
.home input{
  margin-top: 5rem;
  width: 20rem;
  padding: 1rem;
  margin-left: 35%;
}
.history-list{
  cursor: pointer;
  font-size: larger;
  color: rgb(165, 60, 130);
}
.history{
  width: 100%;
  height: 400px;
  background-color: rgb(188, 224, 188);
}
#searchBtn{
  color: white;
  padding: 1rem;
  width: 5rem;
  cursor: pointer;
  background-color: black;
}


